---
import ProjectCarousel from "./ProjectCarousel.astro";

interface Project {
  id: number;
  name: string;
  description: string;
  img: string;
  url: string;
  technologies: string[];
}

const routeTech = "icons/technologies/";
const projects: Project[] = [
  {
    id: 1,
    name: "ENTITY GENERATOR",
    description:
      "Web application created to generate entities for Spring projects. It allows defining attributes and relationships, validates data in real-time, and offers the download of the generated Java code.",
    img: "projects/entity-generator.png",
    url: "http://entity-generator.vercel.app",
    technologies: ["astro.svg", "react.svg", "tailwind.svg"],
  },
  {
    id: 2,
    name: "NEXT CALL DEV",
    description:
      "The NextCallDev backend consists of microservices developed in Spring Boot and Node.js that work together to provide real-time web video calls for the development world.",
    img: "projects/next-call-dev.png",
    url: "https://github.com/markush0f/NextCallDevBack",
    technologies: [
      "spring.svg",
      "nodejs.svg",
      "docker.svg",
      "postgresql.svg",
      "mysql.svg",
    ],
  },
  {
    id: 3,
    name: "ChatBOT",
    description:
      "Chatbot RAG is an intelligent assistant developed with FastAPI, PostgreSQL, and Next.js, capable of answering questions based on documents selected by the user.It integrates a RAG system. The system allows you to manage and upload documents, automatically generate their vector representations, and maintain chats linked to them.",
    img: "projects/chatbot.png",
    url: "https://github.com/markush0f/rag-chatbot",
    technologies: ["fastapi.svg", "postgresql.svg", "docker.svg"],
  },
  {
    id: 4,
    name: "Architecture Generator",
    description:
      "An application that streamlines project creation and management with AI, organizing information, enabling smart retrieval, and generating meaningful insights to support the development process.",
    img: "projects/generator-archinfra.png",
    url: "https://github.com/markush0f/generator-archinfra",
    technologies: [
      "fastapi.svg",
      "docker.svg",
      "postgresql.svg",
      "vitejs.svg",
      "react.svg",
    ],
  },
];
---

<section class="" id="experience">
  <div class="max-w-4xl mx-auto px-10 md:px-6 relative">
    <div class="flex mb-6">
      <h1 class="text-3xl font-semibold ml-6">PROJECTS</h1>
      <img src="/icons/code.svg" alt="" class="w-10 ml-6" />
    </div>
    {
      projects.map((project, index) => (
        <div class="grid grid-cols-1 md:grid-cols-[1fr_1fr] gap-2 mb-8">
          <a href={project.url} target="_blank" rel="noopener noreferrer">
            <img
              src={project.img}
              alt={project.name}
              class="w-full md:max-w-full h-52 md:h-56 object-cover rounded-xl mx-auto transition transform hover:scale-105 duration-300"
            />
          </a>
          <div class="mt-4 md:mt-0 text-left ml-4">
            <h1 class="font-bold text-2xl text-white">{project.name}</h1>
            <h2 class="w-full text-[#e0e0e0] opacity-80">
              {project.description}
            </h2>
            <div class="mt-4 flex flex-wrap justify-start">
              {project.technologies.map((tech, idx) => (
                <img
                  key={index + "-" + idx}
                  src={routeTech + tech}
                  alt={tech}
                  class="w-8 h-8 m-2"
                />
              ))}
            </div>
          </div>
        </div>
      ))
    }
    <ProjectCarousel />
  </div>
</section>
